
body {
  margin-top: 50px;
  padding: 0;
  text-align: justify;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 12px;
  color: #616161;
}

body.mainbody {
  background: #787878;
}

h1, h2, h3 {
  margin-top: 0;
  color: #8C0209;
}

h1 {
  font-size: 1.6em;
  font-weight: normal;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1em;
}

ul {
}

a {
  text-decoration: none;
  color: #8C0209;
}

a:hover {
  border-bottom: none;
}

a img {
  border: none;
}

img.left {
  float: left;
  margin: 0 20px 0 0;
}

img.right {
  float: right;
  margin: 0 0 0 20px;
}

table {
  margin: 1em 0;
  width: 100%;
}

#header {
  width: 1000px;
  margin: 0 auto;
  height: 150px;
  background: #FFFFFF url(images/top-header.jpg) repeat-x left top;
}

/* Header */

#header_logo {
  height: 100px;
  margin: 0 auto;
  padding: 0 10px 0 70px;
  background: url(images/header.jpg) no-repeat left top;
}

#header_logo h1, #header_logo p {
  float: left;
  margin: 0;
  color: #8C0209;
}

#header_logo span {
 /* color: #000000;
  float:left;*/
  font-size: 2em;
  margin-top:15px;
  margin-right:10px;
}

#header_logo #logo {
  float:left;
}

#header_logo h1 {
  padding: 30px 0 0 0;
  letter-spacing: -1px;
  text-transform: lowercase;
  font-weight: normal;
}

#header_logo p {
  text-transform: uppercase;
  padding: 47px 0 0 3px;
  font-size: 10px;
  color: #110E0F;
}

#header_logo a {
  border: none;
  text-decoration: none;
  color: #8C0209;
}

/* Menu */

#primary-menu {
  float: left;
  width: 990px;
  margin:0 5px;
  padding: 0;
  height: 50px;
  background: url(images/top-header.jpg) no-repeat left top;
}

#primary-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

#primary-menu a {
  display: block;
  background-color:tranparent;
  margin: 0;
  padding: 18px 24px 0 24px;
  text-decoration: none;
  text-transform: capitalize;
  background: url(images/vertical.jpg) no-repeat right top;
  color: #FFFFFF;
  height: 32px;
}

#primary-menu li {
  position: relative; 
  float:left; 
  list-style:none;
  display: inline;
  padding:0px;
  margin:0px;
  width:auto;
}

#primary-menu ul ul {
  position: absolute;
  z-index: 500;
}

#primary-menu ul ul ul,
#primary-menu ul ul ul ul {
  position: absolute;
  top: 0;
  left: 100%;
}

#primary-menu ul ul,
#primary-menu ul li:hover ul ul,
#primary-menu ul ul li:hover ul ul,
#primary-menu ul ul ul li:hover ul ul {
  display: none;
}

#primary-menu ul li:hover ul,
#primary-menu ul ul li:hover ul,
#primary-menu ul ul ul li:hover ul,
#primary-menu ul ul ul ul li:hover ul {
  display: block;
  width:156px;
}

#primary-menu ul li ul li {
  background:transparent url(images/top-header.jpg) no-repeat scroll center center;
  border-bottom: 1px solid #FFF;
  float: left;
  padding-left:10px;
  padding-top:3px;
  position:relative;
  width:100%;
}

#primary-menu ul li ul li.last {
  border-bottom: none;
  background:transparent url(images/top-header2.png) no-repeat scroll center right;
}

#primary-menu ul li ul li a,
#primary-menu ul li ul li a:link,
#primary-menu ul li ul li a:visited {
  background: transparent;
  padding: 4px 0;
}
#primary-menu ul li ul li ul {
  margin: 0 0 0 1px;
}

#primary-menu .current_page_item a {
  color: #FFFFFF;
}

#secondary-menu {
  float:right;
  padding:0px;
  margin:5px 5px 0px 0px;
}
/* Wrapper */

#wrapper {
  width: 1000px;
  margin: 0 auto;
}

/* Page */

#page {
  padding: 20px 5px;
  background: #FFFFFF;
}

/* Content */

#content {
  float: left;
  width: 970px;
  padding:0px 10px;
}

.sidebars #content {
  width:525px;
}

.sidebar-left #content,
.sidebar-right #content {
  width:750px;
}

/* Sidebars */

#sidebar-left {
  float: left;
}

#sidebar-right {
  float: right;

}

.sidebar {
  float: left;
  width: 220px;
  padding: 0;
  font-size: 12px;
}

.sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar li {
  padding: 0 0 20px 0;
}

.sidebar ul.menu li {
  margin: 0 20px 0 15px;
  padding: 8px 0px;
  border-bottom: 1px #BBBBBB dashed;
}

.sidebar ul.menu .expanded li.last {
  border:none;
  padding-bottom:0;
}

.sidebar h2 {
  height: 30px;
  margin: 0 0 0 0;
  padding: 10px 15px 0px 15px;
  background: #890208 url(images/block-header.jpg) no-repeat left top;
  letter-spacing: -1px;
  font-size: 16px;
  color: #FFFFFF;
}

#wrapper #container .sidebar .block {
  margin: 0 0 1.5em 0;
}

.block .content {
  margin: 0.5em 0;
}

.block-region {
  padding: 1em;
  background: transparent;
  border: 2px dashed #b4d7f0;
  text-align: center;
  font-size: 1.3em;
}

/* Footer */

#footer {
  width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  background: #FFFFFF url(images/footer.jpg) no-repeat left bottom;
}

#footer p {
  margin: 0;
  padding: 25px 0 0 0;
  text-align: center;
  font-size: smaller;
}

#footer a {
}

#footer .link {
  float: right;
}

#footer .footer_message {
  float: left;
}

#footer ul li {
  display:inline;
}

.form-submit {
  border:none;
  -moz-border-radius-bottomright:10px;
  -moz-border-radius-topleft:10px;
  color:#FFFFFF;
  padding-bottom:2px;
  padding-left:10px;
  padding-right:10px;
  padding-top:2px;
  background-color:#890208;
}

#search-theme-form .container-inline label {
  display:block;
}

/**
 * Nodes & comments
 */
.node {
  border-bottom:1px dashed #BBBBBB;
  margin:0 20px 0 15px;
  padding:8px 0;
}

.node .submitted,
.comment .submitted {
  color:#999999;
}

ul.links li, ul.inline li {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0; /* LTR */
  padding-right: 1em; /* LTR */
  background-image: none;
}

.node .links, .comment .links {
  text-align: left; /* LTR */
}

.comment {
  padding: 1.5em 25px 1.5em;
  border-top: 1px solid #BBBBBB;
}

div.admin .left,
div.admin .right {
  margin:0px;
}

table tr.even {
  background-color:#FFFFFF;
}

/**
 * Generic elements.
 */
.messages {
  background-color: #fff;
  border: 1px solid #b8d3e5;
}

.preview {
  background-color: #fcfce8;
  border: 1px solid #e5e58f;
}

div.status {
  color: #33a333;
  border-color: #c7f2c8;
}

div.error, tr.error {
  color: #a30000;
  background-color: #FFCCCC;
}

.form-item input.error, .form-item textarea.error {
  border: 1px solid #c52020;
  color: #363636;
}

.messages, .preview {
  margin: .75em 0 .75em;
  padding: .5em 1em;
}

.messages ul {
  margin: 0;
}